body {
    font-family: Arial, sans-serif;
    background-color: #f2f7f4;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #2c786c;
}

#dua {
    font-size: 22px;
    margin-top: 20px;
    color: #004445;
}

